<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <connectionStrings>
        <add name="kakeiboConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\MySpace\GraffitiFolder\DBAccess\kakeibo.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
        <add key="LogPathString_Dummy" value="C:\MySpace\FrameworkClassicTeaLog.txt" />
        <add key="LogPathString" value="C:\FrameworkClassicTeaLog.txt" />
    </appSettings>
</configuration>
