/******************************************************************************************/
/*   styleLoginForm.css内の解説
/*    各ページで利用する共通のスタイルを定義
/* 
/* -INDEX-
/*  1.id指定の定義
/*  2.class指定の定義
/*  3.タグ指定の定義
/* -NOTE-
/*  1.上記のINDEXの順番が、スタイルが反映される優先順位になっています
/*  2.要素に記述する属性は、昇順で記載しております
/******************************************************************************************/

/******************************************************************************************/
/*  1.id指定の定義     #example { color: red; }
/******************************************************************************************/


/******************************************************************************************/
/*  2.class指定の定義　.example { color: red; }
/******************************************************************************************/

.verticalcenter
{
  position:absolute;
  top:50%;left:50%;
  width:400px;
  height:300px;
  margin-left:-200px;
  margin-top:-150px;
}

/******************************************************************************************/
/*  3.タグ指定の定義    タグ名 { color: red; }
/******************************************************************************************/
